.login-form {
    display: inline-block;
    margin-left: calc(50vw - 250px);
    margin-top: calc(50vh - 85px);
    padding: 15px;
    width: 600px;
    border: 2px solid #28F;
    border-radius: 10px;
    background: #EEF;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
}

.login-form input {
    padding: 6px 8px;
    border: 2px solid #BCF;
    border-radius: 6px;
    font-size: 16px;
}

.login-form .hostname {
    display: block;
    margin-bottom: 8px;
    width: 100%;
}

.login-form .username {
    margin-right: 8px;
    width: calc(50% - 4px);
}

.login-form .password {
    width: calc(50% - 4px);
}

.login-form button {
    display: block;
    margin-top: 8px;
    padding: 5px;
    width: 100%;
    background: #28F;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}