.jira-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    border-bottom: 1px solid #666;
    background: #D00;
    font-weight: bold;
    color: white;
}

.jira-list-header button {
    margin: -4px;
    border: 0;
    background: none;
    font-size: 1.2em;
    color: white;
    opacity: 0.5;
    transition: opacity .3s;
    cursor: pointer;
}

.jira-list-header button:hover {
    opacity: 1;
}