.summary-view {
    display: flex;
    align-items: center;
    padding: 7px;
}

.detail-view {
    display: none;
    padding: 10px;
}

.history-wrapper:hover .summary-view,
.history-wrapper.collapse-disabled .summary-view {
    display: none;
}

.history-wrapper:hover .detail-view,
.history-wrapper.collapse-disabled .detail-view {
    display: block;
}

.summary-view span {
    margin-right: 5px;
    white-space: nowrap;
}

.summary-view span.description {
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.times {
    display: flex;
    align-items: center;
}

.times span {
    margin-top: -2px;
    font-weight: 500;
    font-size: .9em;
}

.times input {
    margin-left: 3px;
    margin-right: 20px;
    padding: 2px 4px;
    width: 68px;
    border: 1px solid transparent;
    background: none;
    text-align: center;
    font-size: 0.9em;
    transition: border .3s, background .5s;
    outline: none;
}

textarea.description {
    margin-top: 2px;
    padding: 2px 3px;
    width: 100%;
    border: 1px solid transparent;
    background: none;
    font-size: 0.9em;
    resize: vertical;
    min-height: 24px;
    transition: border .3s, background .5s;
    outline: none;
}

.times input:hover,
.times input:focus,
.description:hover,
.description:focus {
    border: 1px solid #ABF;
}

.times input:focus,
.description:focus {
    background: rgba(255,255,255,0.8);
}

.delete {
    position: absolute;
    top: 3px;
    right: 3px;
    border: 0;
    background: none;
    padding: 3px 6px;
    color: black;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity .3s;
}

.delete[disabled] {
    display: none;
}

.delete:hover {
    opacity: 0.8;
}

.jiras {
    display: flex;
    flex-wrap: wrap;
    margin: -6px 0 0 -3px;
    padding: 0;
    list-style: none;
    font-size: 0.85em;
}

.jiras li {
    margin: 6px 3px 0 3px;
    border-radius: 3px;
    background: #00F;
    color: white;
    opacity: 0.3;
    transition: opacity .3s;
}

.jiras li:hover {
    opacity: 0.6;
}

.jiras li span {
    padding: 2px 4px;
    cursor: pointer;
}

.summary-view .jiras {
    justify-content: flex-end;
    white-space: nowrap;
}