.timer {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.3em;
}

.details {
    flex-grow: 1;
}

.times {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.times input {
    padding: 2px 4px;
    border: 1px solid #ABF;
    background: none;
    font-size: 1em;
}

.details textarea {
    margin-top: 2px;
    width: 100%;
    padding: 2px 3px;
    border: 1px solid #ABF;
    background: none;
    font-size: 1em;
    resize: none;
}

.jiras-in-timer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: -6px;
    margin-left: -3px;
    padding: 0;
    list-style: none;
    font-size: 0.9em;
}

.jiras-in-timer li {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: 3px;
    padding: 1px 3px;
    border-radius: 4px;
    background: #33F;
    font-weight: 400;
    font-size: 0.7em;
    color: #DDF;
    cursor: pointer;
}

.jiras-in-timer li:last-child {
    cursor: default;
}

.jiras-in-timer li button {
    margin-left: 5px;
    padding: 0 3px;
    border: 0;
    background: none;
    color: #DDF;
    cursor: pointer;
}

.jira-key {
    margin: 1px;
    padding: 0;
    width: 100px;
    border: 0;
    background: rgba(255,255,255,0.4);
    color: white;
}

.add-jira-key {
    margin-bottom: -1px;
    font-size: 1.2em;
}

.controls {
    margin-left: 10px;
    width: 30px;
}

.controls button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 0;
    background: #00F;
    color: white;
    cursor: pointer;
}

.controls button {
    margin-top: 3px;
}

.controls button:hover {
    background: #55F;
}

.controls button.submit {
    background: #0B0;
    margin-top: 1px;
}

.controls button.submit:hover {
    background: #5D5;
}

.controls button.cancel {
    background: #C00;
    margin-top: 1px;
}

.controls button.cancel:hover {
    background: #E55;
}