.timers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timers li:last-child {
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
}

.timers li:nth-child(2n):not(:last-child) {
    background: rgba(0,0,0,0.03);
}

.submit-all,
.start-timer {
    margin: 5px;
    padding: 4px 8px;
    border: 0;
    background: #080;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

.submit-all[disabled],
.start-timer[disabled] {
    background: #575;
    color: #7C7;
    cursor: default;
}