.timers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.total-today {
    padding: 4px 6px;
    width: 100%;
    background: #666;
    text-align: center;
    font-weight: 400;
    color: white;
}

.total-today:before {
    content: "today: ";
    font-weight: 400;
    opacity: 0.4;
}

.timers li:last-child {
    display: flex;
    justify-content: space-between;
}

.timers li:not([class]) + li:last-child {
    margin-top: -10px;
}

.submit-all,
.start-timer {
    margin: 10px;
    padding: 4px 8px;
    border: 0;
    background: #080;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

.submit-all[disabled],
.start-timer[disabled] {
    background: #575;
    color: #7C7;
    cursor: default;
}